<footer class="footer-image-wrapper">
  <section class="footer-content-wrapper">
    <div class="footer-content-container">
      <div class="footer-content-overview">
        <h6 class="footer-title-text">
          Larkin's Bar
        </h6>

        <p class="footer-overview-info">
          We opened in August 2010 and have since been part of
          the thriving location of Newland Avenue.
        </p>

        <ul class="footer-social-icons">
          <li>
            <%= link_to (image_tag 'shared/footer/facebook-icon.svg',
                        class: 'social-media-icons',
                        alt: 'Facebook'),
                        'http://www.google.com' %>
          </li>

          <li>
            <%= link_to (image_tag 'shared/footer/twitter-icon.svg',
                        class: 'social-media-icons',
                        alt: 'Twitter'),
                        'http://www.google.com' %>
          </li>

          <li>
            <%= link_to (image_tag 'shared/footer/tripadvisor-icon.svg',
                        class: 'social-media-icons',
                        alt: 'Tripadvisor'),
                        'http://www.google.com' %>
          </li>

          <li>
            <%= link_to (image_tag 'shared/footer/instagram-icon.svg',
                        class: 'social-media-icons',
                        alt: 'Instagram'),
                        'http://www.google.com' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-content-container text-center">
      <div class="footer-content-opening-hours">
        <h6 class="footer-title-text">
          Opening Hours
        </h6>

        <ul class="footer-contact">
          <li class="footer-contact-item opening-times">
            <strong class="footer-opening-times">Monday - Sunday</strong>
            11am - 11pm
          </li>
          <li class="footer-contact-item telephone">
            01482 44099122
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-content-container">
      <div class="footer-content-serving-times">
        <h6 class="footer-title-text">
          Serving Times
        </h6>

        <ul class="footer-serving-times">
          <li>
            <strong>Monday - Thursday</strong>
            12pm - 8:30pm
          </li>

          <li>
            <strong>Friday & Saturday</strong>
            12pm - 8:00pm
          </li>
        </ul>

      <!--  <p class="footer-overview-info carvery-info">
          Enjoy our carvery every Sunday from
          1:00pm to 4:30pm
        </p> -->
      </div>
    </div>
  </section>
  <div class="footer-copyright-info-wrapper">
    <div class="footer-copyright-info">
        © Copyright Larkins Bar 2017. Crafted with &#10084; by <strong> Danielle Walker.</strong>
    </div>
  </div>
</footer>
