<div class="hero-image-wrapper <%= additional_classes if defined?(additional_classes) %>">
  <div class="hero-button-wrapper">
  <%= link_to button_text_1, button_link_1, class: 'call-to-action-btn' if defined?(button_text_1) && defined?(button_link_1) %>
  <%= link_to button_text_2, button_link_2, class: 'secondary-submit-button' if defined?(button_text_2) && defined?(button_link_2) %>
</div>
  <%= raw text %>
</div>
