.lunch-full-menu-content-block {
    @include flex-grid-column($columns: 6, $gutter: 0);
    padding: rem-calc(0) rem-calc(40px) rem-calc(30px);
    margin-top: rem(24px);
    @include breakpoint(medium down) {
         @include flex-grid-column($columns: 12, $gutter: 0);
    }
}

.coloured-block {
    background: image-url('beer/beer-underlay-1.png') 100% 20%, $periwinkle-blue;
    background-repeat: no-repeat;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    margin-bottom: 20px;

    &.main-menu {
        color: $white;
        background: none;
        border-bottom: 1px solid $periwinkle-blue;
        margin-left: rem(80px);
        margin-right: rem(80px);
    }
    &.burger-toppings {
      padding-bottom: rem(15px);
    }

    .sub-content-block-title {
        color: $black;
        text-align: center;
    }

    .menu-item-title {
        color: $black;
    }

    .menu-item-price {
        color: $black;
    }

    .menu-item-description {
        color: $black;
    }

    .lunch-special-title {
        color: $black;
    }

    .lunch-special-menu-item {
        color: $black;
    }

    .lunch-special-description {
        color: $black;
    }

    .menu-item-title-intro {
        color: $black;
    }
}

.lunch-menu-content {
    margin-top: $overlap;
    @include breakpoint (small only) {
        padding-top: rem(40px);
    }
}

.lunch-menu-title-wrapper {
    @include customised-flex-grid-row;
    margin-left: 0;
    padding-left: rem(65px);
    @include breakpoint (medium down) {
      padding-left: rem(60px);
    }
}

.lunch-menu-title-container {
    @include flex-grid-column(6);
    padding: rem-calc(0) rem-calc(40px) rem-calc(30px);
    @include breakpoint (medium down) {
    @include flex-grid-column(12);
    padding-left: 0;
    padding-bottom: 0;
}

}

.lunch-menu-wrapper {
    @include flex-grid-row;
}

.menu-item-intro {
    font-family: $lato;
    text-align: center;
    padding-right: rem(40px);
}

.menu-item-title-intro {
    color: $white;
    font-family: $lato;
    letter-spacing: 1px;
    padding-top: rem(10px);
    padding-bottom: rem(20px);
    font-size: rem(14px);
    padding-right: rem(9px);

    &.lunch-special {
        text-align: center;
    }
}

.main-menu-item-title-intro {
    color: $white;
    font-family: $abril-fatface;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: rem(12px);

}

.lunch-special-wrapper {
    @include flex-grid-row;
}

.lunch-special-container {
    @include flex-grid-column(6);
}

.lunch-special-title {
    color: $white;
    text-align: center;
    font-family: $abril-fatface;
    text-transform: uppercase;
    font-size: rem-calc(24px);
    letter-spacing: rem-calc(4px);
    padding-top: rem(20px);
}

.lunch-special-menu-item {
    line-height: 1.1;
    color: $white;
    font-family: $abril-fatface;
    text-transform: uppercase;
    font-size: rem(18px);
    text-align: center;
    letter-spacing: rem(3px);
}

.lunch-special-description {
    font-family: $lato;
    padding-bottom: rem(30px);
    color: $white;
    text-align: center;
}

.find-favourites-title {
    color: $white;
    font-family: $abril-fatface;
    letter-spacing: 3px;
    font-size: 22px;
    padding-left: 70px;
}

.favourites-container {
    @include flex-grid-column(5);
    padding-top: 40px;
    padding-bottom: 40px;
}

.favourites-items {
    @include flex-grid-column(7);
}

.favourites-content {
    list-style: none;
    margin-top: rem(25px);
    padding-left: rem(40px);

    li {
        display: inline-block;
        padding-right: rem(40px);
        text-align: center;
    }
}

.favourites-icon {
    img {
        width: 55px;
    }
}

.favourite-title {
    color: $white;
    text-align: center;
    font-family: $lato;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: rem(12px);
}

.banner-wrapper {
    padding-left: rem(130px);
    padding-top: rem(100px);
}

.banner-image {
    max-height: 310px;
    padding-right: rem(100px);
    width: 400px;
}
// main menu

.main-menu-full-menu-content-block {
    @include flex-grid-column($columns: 12, $gutter: 0);
    padding: rem-calc(0) rem-calc(40px) rem-calc(30px);
    margin-top: rem(24px);
    @include breakpoint(medium down) {
         @include flex-grid-column($columns: 12, $gutter: 0);
    }
}

.main-menu-info-container {
    @include flex-grid-column($columns: 12, $gutter: 0);
}

.two-courses-title {
    font-family: $abril-fatface;
    text-align: center;
    font-size: rem(38px);
    letter-spacing: rem(5px);
}

.two-course-info {
    text-align: center;
    font-family: $lato;
}

.menu-item-content-info {
    color: $white;
    font-family: $lato;
    text-align: center;
    padding-left: 150px;
    font-family: "Lato";
    padding-bottom: 33px;
    padding-right: 150px;
    line-height: 33px;

    @include breakpoint (medium only) {
      padding-left: rem(20px);
      padding-right: rem(20px);
    }
  }

  .main-menu-coloured-block {
    @include flex-grid-column($columns: 6, $gutter: 0);
    padding: rem-calc(0) rem-calc(40px) rem-calc(30px);
    @include breakpoint(medium down) {
         @include flex-grid-column($columns: 12, $gutter: 0);
    }
  }

  .main-menu-info-wrapper {
    @include flex-grid-row;
    padding-left: rem(30px);
  }

  .main-menu-toppings {
    @include flex-grid-column($columns: 6, $gutter: 0);
    @include breakpoint(medium down) {
         @include flex-grid-column($columns: 12, $gutter: 0);
    }
  }

.side-menu-title-wrapper {
  padding-left: rem(40px);
  padding-top: rem(60px);
}

.larkins-banner-title {
  font-family: $abril-fatface;
  color: $white;
  font-size: rem(30px);
  letter-spacing: rem(5px);
  text-transform: uppercase;
  &.desserts {
    padding-bottom: rem(10px);
  }
}

.larkins-coffe-sub-title {
  color: $white;
  font-family: $lato;
  font-size: rem(20px);
  font-weight: 700;
  letter-spacing: rem(5px);
}

.larkins-banner-sub-title {
  font-family: $lato;
  color: $white;
  letter-spacing: rem(5px);
  text-transform: uppercase;
}

.kids-eat-free-info {
  color: $white;
  font-family: $lato;
  letter-spacing: rem(2px);
  font-size: rem(14px);
  padding-bottom: rem(20px);
}

.kids-eat-free-wrapper {
  @include flex-grid-row;
}

.kids-eat-free-content {
  @include flex-grid-column(6);
}

.kids-eat-free-content-wrapper {
  list-style: none;
  margin-left: 0;
  font-family: $abril-fatface;
  text-align: left;
  letter-spacing: rem(4px);
  width: 100%;
}

.burger-topping-title {
  color: $black;
  font-family: $lato;
  padding-bottom: rem(10px);
  width: 100%;

}

.main-menu-toppings {
  list-style: none;
}
.toppings-wrapper {
  list-style: none;
  margin-left: 0;
  font-family: $abril-fatface;
  text-transform: uppercase;
  letter-spacing: rem(2px);
  font-size: rem(14px);
}

.allergy-info {
  text-align: center;
  font-family: $lato;
  color: $black;
  padding: rem(30px);
  font-weight: 700;
  letter-spacing: rem(2px);
  font-size: rem(12px);
}

.food-filter-title {
  color: $white;
  font-family: $lato;
  text-transform: uppercase;
  letter-spacing: rem(2px);
  font-weight: 700;
}

.filter-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(10px);
}

.sub-content-coloured-block-title {
  color: $black;
  font-family: $abril-fatface;
  text-transform: uppercase;
  font-size: rem-calc(24px);
  letter-spacing: rem-calc(4px);
  padding-top: rem(20px);
  text-align: center;
}

.desserts-wrapper {
  @include breakpoint(1920px) {
    padding-left: rem(120px);
    padding-right: rem(120px);
  }
}
